<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>



<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Get Mercury Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Venus Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Lunar Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Mars Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Jupiter Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Saturn Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Uranus Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Neptune Data</button></a>
            <a href=# id=test><button class='btn btn-default'>Get Solar Data</button></a>
        </form>

</div>